#buttons-heading {
    padding: 10px;

    font-size: 2.5rem;
    font-weight: 500;

    color: salmon;
}

.buttons {
    padding: 10px 0px;
    display: flex;

}

#Stack {
    flex-direction: column;
    align-items: center;
}

#Queue {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}