.flex-c-c {
  display: flex;
  justify-content: center;
  align-items: center;
}



.border-red {
  border: solid red 3px;
}

.data-structure {
  margin: 0 !important;
  padding: 0 !important;
  min-width: 100vw !important;
  min-height: 100vh !important;
}

.data-structure .row {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.data-structure .row>div:nth-child(1) {
  background-color: #22004b;
  height: inherit;
}

.data-structure .row>div:nth-child(2) {
  background-color: #01015df7;
  height: inherit;
}

.data-structure .row .col {
  margin: 0;
}