.buttons button {
    margin: .5rem !important;
    margin-top: 0;
    margin-bottom: 0;

    width: 80%;
}

.buttons button:hover {
    box-shadow: 0 0 1px 5px white;
}

#buttons button:nth-child(1) {
    grid-area: a;
}

#buttons button:nth-child(2) {
    grid-area: b;
}

#buttons button:nth-child(3) {
    grid-area: c;
}

#buttons button:nth-child(4) {
    grid-area: d;
}

#buttons button:nth-child(5) {
    grid-area: e;
}