#homepage {
    padding: 2rem;
    background-color: #036;

    height: 100vh;
    color: #cf0;
    display: flex;
    flex-direction: column;
}

#homepage>h1 {
    margin: 1rem;

    height: 20%;
    font-size: 3rem;
    text-align: center;
    text-shadow: 0 4px #2b017a;
}

#homepage>div {
    display: flex;
    justify-content: center;

}

#homepage>div img {
    margin: 2rem;
    width: 15rem;
    height: 15rem;
    border-radius: 3rem;
    transition: transform 1s, outline .5s;
}

#homepage>div img:hover {
    outline: solid 6px greenyellow;
    transform: scale(1.1);
    transition: transform 500ms, outline 100ms;
}