#stack-container-diagram {
    padding: 1rem;
    padding-bottom: 2px;

    border: solid black 10px;
    border-top: 0;

    height: 90%;
    width: 40%;

    background-color: rgb(47, 4, 4);
    flex-direction: column;
    justify-content: flex-end;
}

.stack-element {
    margin: 20px 0;
    height: 9%;
    margin-bottom: 0;
    border-radius: 1rem;
    width: 90%;
    background-color: #0abaffb3;
    font-size: 3rem;
    font-weight: 500;
    color: #fbffff;
    text-align: center;
}