#stack-container-diagram {
    margin-bottom: 10px;
    padding: 1rem;
    padding-bottom: 2px;

    border: solid black 10px;
    border-top: 0;

    height: 90%;
    width: 18rem;

    background-color: rgb(47, 4, 4);
    flex-direction: column;
    justify-content: flex-end;
}

.stack-diagram-data {
    margin: 1rem 0;
    margin-bottom: 0;
    border-radius: 1rem;
    width: 12rem;
    background-color: blueviolet;
    font-size: 2.5rem;
    color: white;
    text-align: center;
}